{
  "port": 3000,
  "locale": "de",
  "loglevel": "debug",
  "rarity_filter": ["common", "uncommon", "rare", "very rare", "ultra rare"],
  "pokemon_filter": [16, 21],
  "pushbullet": {
    "apikey": "",
    "devices": [
      ""
    ]
  },
  "pushjet": {
      "endpoint": "https://api.pushjet.io/",
      "secret": "",
      "level": 5
    }
}